<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <v-app dark>
            <v-content v-if="loaded_wasm">
                <v-toolbar>
                    <v-toolbar-title>TextGlue</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                            <v-chip :color="status_color" v-on="  on">{{status}}</v-chip>
                        </template>
                        <span>{{message}}</span>
                    </v-tooltip>
                </v-toolbar>
                <v-container>
                    <ul>
                        <li v-for="(value,key) in data.snippets">
                            <h4>{{key}}</h4>
                            <v-textarea v-model="value"></v-textarea>
                        </li>
                    </ul>
                </v-container>
            </v-content>
            <v-content v-else>
                <v-container bg fill-height grid-list-md text-xs-center>
                    <v-layout row wrap align-center>
                        <v-card style="width:80%;height:80%;">
                            <h1>Loading</h1>
                        </v-card>
                    </v-layout>
                </v-container>
            </v-content>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src='textglue_wasm.js'></script>
    <script type="module">
        new Vue({
            el: '#app',
            data: {
                tg: null,
                loaded_wasm: false,
                data: {},
                status: "OK",
                status_color: "",
                message: ""
            },
            methods: {
                error: function (message, reason) {
                    if (message == "OK") {
                        this.info(message);
                    }
                    else {
                        this.status = "ERROR";
                        this.status_color = "red";
                        this.message = message;
                        console.log("ERROR:" + message, reason);
                    }
                },
                result: function (message) {
                    if (message == "OK") {
                        this.info(message);
                    }
                    else {
                        this.error(message, "")
                    }
                },
                info: function (message) {
                    this.status = "OK";
                    this.status_color = "green";
                    this.message = message;
                    console.log("INFO:" + message);
                },
                load: function () {
                    this.$http.get("/api/dbnow.json").then(
                        function (response) {
                            response.text().then(
                                function (data) {
                                    this.error(this.tg.set_database_json(data));
                                    this.data = this.tg.get_database();
                                }.bind(this),
                                function (data) {
                                    this.error("Loading error (response text)", err);
                                }.bind(this)
                            )
                        }.bind(this),
                        function (err) {
                            this.error("Loading error", err);
                        }.bind(this)
                    );
                }
            },
            created: function () {
                this.tg = wasm_bindgen;

                const run = async function () {
                    await wasm_bindgen('textglue_wasm_bg.wasm');
                    //this.wasm.greet();
                    //console.log(this.wasm.get_database());
                    this.tg.set_snippet("abc", "lorem");
                    //console.log(this.wasm.get_database());
                    //console.log(this.wasm.get_snippet("abc"));
                    //console.log(this.wasm.get_metadata("abc"));
                    //console.log(this.wasm.set_metadata("abc", 123));
                    //console.log(this.wasm.get_database_pretty_json());
                    //console.log(this.wasm.set_database_json(this.wasm.get_database_pretty_json()));
                    this.loaded_wasm = true;
                    this.load();
                }.bind(this);
                run();
            }
        });  
    </script>
</body>

</html>